<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bigelow Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="jass.css">
</head>


<div class="card col-6 mx-auto my-auto" id="create-acct-div">
  <form class="create-acct-form d-flex" id="create-acct-form"></form>
    <h4>Input full name</h4>
    <input class="input new-name-input" type="text" placeholder="Full name">
    <h4>Input email</h4>
    <input class="input new-username-input" type="text" placeholder="Username">
    <h4>Input new password</h4>
    <input class="input new-password-input" type="text" placeholder="Password">
    <h4>Verify new password</h4>
    <input class="input new-password-verification" type="text" placeholder="Password">       
    <button class="acct-submit-btn btn btn-primary mx-auto mt-3 mb-3" id="acct-submit-btn">Submit</button>
  </form>
</div>

<script src="/js/createaccount.js"></script>