
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bigelow Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="jass.css">
</head>

<body>

    <!-- <div class="card col-6 mx-auto">
        <form class="login-form mx-auto" id="login-form">
          <h4>Input email</h4>
          <input class="input new-username-input" type="text" placeholder="Username">
          <h4>Input new password</h4>
          <input class="input new-password-input" type="text" placeholder="Password">
            <label for="login-submit-btn">
              <input
                type="submit"
                id="login-submit-btn"
                class="login-submit-btn btn btn-primary mx-auto  mt-3"
                value="Submit"
              />
            </label>
            <button id="create-account-btn" class="create-account-btn btn btn-primary mx-auto mt-3">Create account</button>
        </form>
    </div> -->

</body>

<div class="card col-6 mx-auto" id="create-acct-div">
  <form class="create-acct-form d-flex" id="create-acct-form"></form>
    <h4>Input email</h4>
    <input class="email-input input" type="text" placeholder="Email">
    <h4>Input password</h4>
    <input class="password-input" type="text" placeholder="Password" id="password-input">
    <div class="mx-auto mt-3 mb-3" id="login-buttons-div">
      <label for="login-submit-btn">
        <input
          type="submit"
          id="login-submit-btn"
          class="login-submit-btn btn btn-primary"
          value="Submit"
        />
      </label>
      <button id="create-account-btn" class="btn btn-primary">Create account</button>
    </div>     
  </form>
</div>
